<?xml version="1.0" encoding="UTF-8"?>

<!--
File: system.xml
Description:
This is a illustrations settings file for default system illustrations. All default settings for these illustrations are specified here.

Todo:
1) Need to connect to an external DTD, schema, whatever for validation.

-->


<root>
    <section>
        <name>System Illustration Information</name>
        <sectionID>SystemIllustrations</sectionID>
        <description>General information for default illustrations used in the system.</description>
        <setting>
            <name>Illustration Set Name</name>
            <key>illustrationSetName</key>
            <description>The name of this illustration set.</description>
            <type>string</type>
            <value>SystemDefault</value>
        </setting>
    </section>
</root>

